<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
        lang="en"
>
    <f:section name="import">
        <div class="form-section">
            <f:if condition="{moduleContent.workspacesLoaded}">
                <div class="form-group mb-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="make_preview_link" />
                            <f:translate key="{lll}import.xml.make_preview_link.title" />
                        </label>
                    </div>
                </div>
            </f:if>
            <div class="form-group mb-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" name="import_delL10N" />
                        <f:translate key="{lll}import.xml.delL10N.title" />
                    </label>
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" name="import_asdefaultlanguage" />
                        <f:translate key="{lll}import.xml.asdefaultlanguage.title" />
                    </label>
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="form-group mb-2">
                <input type="file" size="60" name="uploaded_import_file" />
            </div>
        </div>
        <div class="form-section">
            <input class="btn btn-info" type="submit" value="{f:translate(key:'{lll}general.action.refresh.button.title')}" name="_" />
            <input class="btn btn-warning" type="submit" value="Import" name="import_xml" /><br class="clearfix">&nbsp;
        </div>
    </f:section>

    <f:section name="export">
        <div class="form-section">
            <div class="form-group mb-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" name="check_exports" />
                        <f:translate key="{lll}export.xml.check_exports.title" />
                    </label>
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" checked="checked" name="no_check_xml" />
                        <f:translate key="{lll}export.xml.no_check_xml.title" />
                    </label>
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" name="check_utf8" />
                        <f:translate key="{lll}export.xml.checkUtf8.title" />
                    </label>
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="form-group mb-2">
                <label for="{moduleContent.previewLanguageMenu.elementName}"><f:translate key="{lll}export.xml.source-language.title" /></label><br/>
                <select class="form-control" id="{moduleContent.previewLanguageMenu.elementName}" name="{moduleContent.previewLanguageMenu.elementName}"{f:if(condition: '{moduleContent.previewLanguageMenu.forcedSourceLanguage}', then: 'disabled="disabled"')}>
                    <f:for each="{moduleContent.previewLanguageMenu.options}" as="option" key="key">
                        <option value="{option.value}" {f:if(condition: '{option.selected} == true', then: 'selected')}>{option.label}</option>
                    </f:for>
                </select>
            </div>
            <div class="form-group mb-2">
                <div class="checkbox">
                    <label>
                        <f:if condition="{moduleContent.previewLanguageMenu.onlyForcedSourceLanguage}">
                            <f:then>
                                <input type="checkbox" value="1" name="export_xml_forcepreviewlanguage_only" checked="checked" disabled="disabled" />
                            </f:then>
                            <f:else>
                                <input type="checkbox" value="1" name="export_xml_forcepreviewlanguage_only" />
                            </f:else>
                        </f:if>
                        <f:translate key="{lll}export.xml.source-language-only.title"/>
                    </label>
                </div>
            </div>
        </div>
        <f:if condition="{moduleContent.hasFtpCredentials}">
            <input type="checkbox" value="1" name="ftp_upload" id="tx_l10nmgr_ftp_upload" />
            <label for="tx_l10nmgr_ftp_upload"><f:translate key="{lll}export.xml.ftp.title" /></label><br />
        </f:if>
        <div class="form-section">
            <input class="btn btn-info" type="submit" value="{f:translate(key:'{lll}general.action.refresh.button.title')}" name="_" />
            <input class="btn btn-success" type="submit" value="Export" name="export_xml" /><br class="clearfix">&nbsp;
        </div>
    </f:section>

    <f:section name="downloadSettingsFiles">
        <div class="panel panel-tab">
            <div class="panel-body">
                <h4><f:translate key="{lll}file.settings.available.title" /></h4>
                <ul>
                    <f:for each="{moduleContent.settingsFiles}" as="file" key="foo">
                        <li>
                            <a class="t3-link" href="{file.href}" title="{f:translate(key:'{lll}file.settings.download.title')}" target="_blank">{file.label}</a>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
    </f:section>
</html>
